<!DOCTYPE html>

<html>
<head>
    <title>about</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
    <div class="main-content">
<h1>{{ title }}</h1>
{{>header}}
<p>This site is created by saral khandelwal.it used data from mapbox.com and darksky api</p>
<img src="/IMG/virat.jpg" class="portrait">
<p>created by {{ name }}</p>

    </div>
    
{{>footer}}
</body>

</html>